//변수처리

//site width
$siteWidth: 1320px;

//text size
$fontSizeSmall: 14px;
$fontSizeNormal: 18px;
$fontSizeMid: 20px;
$fontSizeBig: 22px;

//title text size
$titleFontSizeSmall: 21px;
$titleFontSizeNormal: 24px;
$titleFontSizeMid: 28px;
$titleFontSizeBig: 30px;

//color

//background color
$headerBg: #1d427f;
$layoutBg: #f1f5fc;

//font color
$fontColorBasic: #333333;
$fontColorHeader: #f1f5fc;
$fontColorPrimary: #1d427f;
$fontColorHover: #336ac7;

//border color
$borderColorLight: #cdd4de;
$borderColorPrimary: #1d427f;

//button color
$gbtnColor: #cdd4de;
$gbtnColorHover: #1d427f;

//table color
$tableColorPrimary: #888888;
